/* Common styles for both sections */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.gradient-background {
    background: linear-gradient(to right, #ffffff, #98b3d3, #b6c2e4,#ffffff, #8ec5fc, #9fd0f0);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-color: #ffffff;
    }
    20% {
        background-color: #90b3d3;
    }
    40% {
        background-color: #b6c2e4;
    }
    60% {
        background-color: #ffffff;
    }
    80% {
        background-color: #8ec5fc;
    }
    100% {
        background-color: #9fd0f0;
    }
}